$bg-color: #fffff;

h1,h2,h3,h4,h5,p,a,span,input,div,button{
  font-family: 'Roboto', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 14px
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 14px
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 14px
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 14px
}

body,html{
  height: 100%;
}

body {
  background: $bg-color;
}

input{
  outline: none;
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
}

button{
  outline: none;
  cursor: pointer;
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.btn-submit{
  width: 240px;
  height: 60px;
  border-radius: 35px;
}

.show-more{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    height: 45px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #cbcbcb;
    color: #2e2e2e;
    text-transform: uppercase;
    border-radius: 35px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;

    &:hover{
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      background-color: #cbcbcb;
    }

    svg{
      margin-left: 17px;
    }
  }
}

.find-btn{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    height: 45px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #51b9bc;
    background-color: #51b9bc;
    color: #fff;
    text-transform: uppercase;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    &:hover{
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      background: none;
      color: #51b9bc;
    }

  }
}

.section_header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  .logo-descr{
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .article-desc{
    h5{
      font-size: 15px;
      font-weight: 400;
      margin-top: 15px;
      text-align: center;
    }
  }
}

.incorect{
  border: 2px solid #da3d3d !important;
}


