.become_adv{
  .become-bg{
    z-index: 0;
    position: absolute;
    top: 50px;
    right: 0;
    img{
      width: 300px;
    }
  }
  padding: 50px 0;
  background-color: #51b9bc;
  position: relative;
  .section_header{
    .logo-descr{
      color: #fff;
    }
  }
  .form_text{
    padding: 30px 0;
   .row{
     display: flex;
     align-items: center;
     justify-content: center;
     .form{
       p{
         font-size: 14px;
         color: #fff;
         width: 72%;
       }
       .input{
         position: relative;
         margin-bottom: 20px;
         width: 390px;
         input{
           width: 390px;
           height: 60px;
           background: none;
           border-radius: 35px;
           padding-left: 25px;
           border: 2px solid #fff;
           color: #fff;
           &:focus{
             box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;
             -webkit-box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;
             -o-box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;
             -moz-box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;

             -webkit-transition: all 0.2s;
             -o-transition: all 0.2s;
             -moz-transition: all 0.2s;
             transition: all 0.2s;
           }
         }

         input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
           color: #fff;
         }
         input::-moz-placeholder { /* Firefox 19+ */
           color: #fff;
         }
         input::-ms-input-placeholder { /* IE 10+ */
           color: #fff;
         }
         span{
           position: absolute;
           right: 25px;
           top: 16px;
           font-size: 19px;
           svg{
             color: #fff;
           }
         }
       }
       .btn-submit{
         background-color: #fff;
         border: 2px solid #fff;
         color: #000;
         width: 235px;
         height: 60px;
         font-weight: 600;
         letter-spacing: 3px;
         font-size: 14px;
         cursor: pointer;

         -webkit-transition: all 0.4s;
         -o-transition: all 0.4s;
         -moz-transition: all 0.4s;
         transition: all 0.4s;

         &:hover{
           -webkit-transition: all 0.4s;
           -o-transition: all 0.4s;
           -moz-transition: all 0.4s;
           transition: all 0.4s;
           background: none;
           color: #fff;
         }

       }
     }

     .text{
       text-align: right;
       h2{
         color: #ffffff;
         //width: 245px;
         font-size: 51px;
         text-transform: uppercase;
         letter-spacing: 18px;
         font-weight: 300;
         line-height: 66px;
         margin: 0;
       }
     }
   }

  }
}

@media (max-width: 991px) {
  .become_adv{
    .become-bg{
      opacity: 0.1;
    }
    .form_text{
      padding: 15px 0;
      .row{
        display: flex;
        align-items: center;
        justify-content: center;
        .form{
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p{
            font-size: 14px;
            color: #fff;
            width: 72%;
          }
          .input{
            position: relative;
            margin-bottom: 20px;
            width: 390px;
            input{
              width: 390px;
              height: 60px;
              background: none;
              border-radius: 35px;
              padding-left: 25px;
              border: 2px solid #fff;
              color: #fff;
            }
            span{
              position: absolute;
              right: 25px;
              top: 16px;
              font-size: 19px;
              svg{
                color: #fff;
              }
            }
          }
          .btn-submit{
            background-color: #fff;
            border: 2px solid #fff;
            color: #000;
            width: 235px;
            height: 60px;
            font-weight: 600;
            letter-spacing: 3px;
            font-size: 14px;
            cursor: pointer;
          }
        }

        .text{
          text-align: center;
          h2{
            width: 100%;
            font-size: 33px;
            text-align: center;
            line-height: 66px;
          }
        }
      }

    }
  }
}

@media (max-width: 425px) {
  .become_adv{
    .form_text{
      padding: 15px 0;
      .row{
        .form{
          p{
            font-size: 14px;
            color: #fff;
            width: 100%;
          }
          .input{
            position: relative;
            margin-bottom: 20px;
            width: 300px;
            input{
              width: 300px;
              height: 60px;
              background: none;
              border-radius: 35px;
              padding-left: 25px;
              border: 2px solid #fff;
              color: #fff;
            }
            span{
              position: absolute;
              right: 25px;
              top: 16px;
              font-size: 19px;
              svg{
                color: #fff;
              }
            }
          }
          .btn-submit{
            background-color: #fff;
            border: 2px solid #fff;
            color: #000;
            width: 235px;
            height: 60px;
            font-weight: 600;
            letter-spacing: 3px;
            font-size: 14px;
            cursor: pointer;
          }
        }

        .text{
          text-align: center;
          h2{
            width: 100%;
            font-size: 30px;
            text-align: center;
            letter-spacing: 12px;
            font-weight: 200;
            line-height: 56px;
            margin-bottom: 20px;
          }
        }
      }

    }
  }
}