
label {
  display: flex;
  align-items: center;
  min-height: 40px;
  height: auto;
  padding:0;
  color: #999999;
  cursor: pointer;
  position: relative;
  margin-bottom: 0!important;
  a{
    padding: 0!important;
    font-size: 13px;

    display: block;
    width: 80%;
    word-wrap: break-word;

  }

  p{
    margin: 0;
    padding: 0;
    color: #636363;
    font-size: 15px;
    margin-left: 0;
    font-weight: 500;
  }


  span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform-origin: center;
    border: 2px solid #e6e6e6;
    vertical-align: -6px;
    margin-right: 10px;
    //transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89);


    &:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 50%;
      background: #999999;
      position: absolute;
      //transform: rotate(305deg);
      top: 3px;
      left: 3px;
      //transition: width 50ms ease;
      //transform-origin: 0% 0%;
      transition: all .3s;
    }
  }

}

input[type="radio"] {
  display: none;

  &:checked {
    + label {
      span {
        background-color: #fafafa;
        border: 2px solid #51b9bc;

        &:after {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #51b9bc;
          //transition: width 150ms ease 100ms;
          transition: all .3s;
          transform: scale(1.2);
        }

      }
      p{
        color: #000;
        font-weight: 500;
      }

    }
  }
}