.connect_with_us{
  .connect-bg{
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .letter-img{
    z-index: 0;
    position: absolute;
    top: 50px;
  }
  position: relative;
  background-color: #252a38;
  width: 100%;
  padding: 50px 0;
  overflow-y: hidden;
  .section_header{
    .logo-descr{
      color: #fff;
    }
  }
  .container{
    z-index: 9999;
    .row{
      display: flex;
      align-items: center;
      .connect-us-text{
        h2{
          color: #ffffff;
          width: 245px;
          font-size: 51px;
          text-transform: uppercase;
          letter-spacing: 18px;
          font-weight: 300;
          line-height: 66px;
          margin: 0;
        }
      }
      .connect-us-form{
        text-align: right;
        .input{
          position: relative;
          margin-bottom: 20px;
          input{
            width: 390px;
            height: 60px;
            background: none;
            border-radius: 35px;
            padding-left: 25px;
            border: 2px solid #fff;
            color: #fff;
            &:focus{
              box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;
              -webkit-box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;
              -o-box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;
              -moz-box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;

              -webkit-transition: all 0.2s;
              -o-transition: all 0.2s;
              -moz-transition: all 0.2s;
              transition: all 0.2s;
            }
          }
          input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
          }
          input::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
          }
          input::-ms-input-placeholder { /* IE 10+ */
            color: #fff;
          }
          span{
            position: absolute;
            right: 25px;
            top: 16px;
            font-size: 19px;
            svg{
              color: #fff;
            }
          }
        }
        .btn-submit{
          background-color: #ffce00;
          border: 2px solid #ffce00;
          color: #000;
          width: 235px;
          height: 60px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 3px;
          cursor: pointer;

          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;

          &:hover{
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
            background: none;
            color: #ffce00;
          }
        }
        .social-links{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-top: 50px;
          div{
            a{
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 30px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 1px solid #fff;

              color: #fff;
              -webkit-transition: all 0.4s;
              -o-transition: all 0.4s;
              -moz-transition: all 0.4s;
              transition: all 0.4s;
              &:hover{
                -webkit-transition: all 0.4s;
                -o-transition: all 0.4s;
                -moz-transition: all 0.4s;
                transition: all 0.4s;
                background-color: #fff;
                color: #000;

              }

            }
          }
        }
      }
    }

  }
}

@media (max-width: 991px) {
  .letter-img{
    z-index: 0;
    position: absolute;
    top: 50px;
    opacity: 0.1;
  }
  .connect_with_us{
    .container{
      z-index: 9999;
      .row{
        display: flex;
        align-items: center;
        .connect-us-text{
          h2{
            width: 100%;
            font-size: 33px;
            text-align: center;
            line-height: 66px;
          }
        }
        .connect-us-form{
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .input{
            position: relative;
            margin-bottom: 20px;
            input{
              width: 390px;
              height: 60px;
              background: none;
              border-radius: 35px;
              padding-left: 25px;
              border: 2px solid #fff;
              color: #fff;
            }
            span{
              position: absolute;
              right: 25px;
              top: 16px;
              font-size: 19px;
              svg{
                color: #fff;
              }
            }
          }
          .social-links{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 50px;
            div{
              a{
                margin: 0 10px;
              }
            }
          }
          .btn-submit{
            background-color: #ffce00;
            border: 2px solid #ffce00;
            color: #000;
            width: 235px;
            height: 60px;
          }
        }
      }

    }
  }
}

@media (max-width: 425px) {
  .letter-img{
    left: -185px;
  }
  .connect_with_us{
    .container{
      z-index: 9999;
      .row{
        display: flex;
        align-items: center;
        .connect-us-text{
          h2{
            width: 100%;
            font-size: 30px;
            text-align: center;
            letter-spacing: 12px;
            font-weight: 200;
            line-height: 56px;
            margin-bottom: 20px;
          }
        }
        .connect-us-form{
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .input{
            position: relative;
            margin-bottom: 20px;
            input{
              width: 300px;
              height: 60px;
              background: none;
              border-radius: 35px;
              padding-left: 25px;
              border: 2px solid #fff;
              color: #fff;
            }
            span{
              position: absolute;
              right: 25px;
              top: 16px;
              font-size: 19px;
              svg{
                color: #fff;
              }
            }
          }
          .btn-submit{
            background-color: #ffce00;
            border: 2px solid #ffce00;
            color: #000;
            width: 235px;
            height: 60px;
          }
        }
      }

    }
  }
}