.faq{
  padding-bottom: 50px;
  .faqs{
    .faq-item{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #ededed;
      padding: 30px;
      .faq-title{
        text-align: center;
        padding-bottom: 30px;
        margin: 30px 0;
        border-bottom: 1px solid #ededed;
        h3{
          font-size: 20px;
          margin: 0;
          padding: 0;
        }
      }
      .faq-description{
        text-align: center;
        p{
          color: #898989;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .faq{
    .faqs{
      .faq-item{
        margin-bottom: 15px;
      }
    }
  }
}