.find_contact{
  padding: 50px 0;
  .find-form{
    width: 70%;
    margin: auto;
    .form-input{
      margin-bottom: 25px;
      position: relative;
      span{
        position: absolute;
        top: 14px;
        right: 25px;
        font-size: 20px;
        color: #d3d3d3;
      }
      input{
        width: 100%;
        height: 60px;
        border-radius: 35px;
        padding-left: 25px;
        border: 2px solid #e6e6e6;
        background-color: #fafafa;
        &:focus ~ span{
           color: #000;
        }

        &:focus{
          box-shadow: inset #e6e6e6 0 0 1px 1px, #e6e6e6 0 0 10px 0.5px;
          -webkit-box-shadow: inset #e6e6e6 0 0 1px 1px, #e6e6e6 0 0 10px 0.5px;
          -o-box-shadow: inset #e6e6e6 0 0 1px 1px, #e6e6e6 0 0 10px 0.5px;
          -moz-box-shadow: inset #e6e6e6 0 0 1px 1px, #e6e6e6 0 0 10px 0.5px;

          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          -moz-transition: all 0.2s;
          transition: all 0.2s;
        }

      }
    }
    .check-list{
      display: flex;
      .check-item{
        margin-right: 15px;
      }
    }

    .check-list-atricle{
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: 10px;
    }
    .payroll-side{
      text-align: right;
      .payroll-list{
        justify-content: flex-end;
        .check-item{
          margin-right: 0;
          margin-left: 15px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .find_contact{
    .find-form{
      width: 70%;
      margin: auto;
      .check-list{
        display: flex;
        .check-item{
          margin-right: 15px;
        }
      }

      .check-list-atricle{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
      }
      .payroll-side{
        text-align: left;
        .payroll-list{
          justify-content: flex-start;
          .check-item{
            margin-right: 15px;
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .find_contact{
    .find-form{
      width: 80%;
    }
  }
}

@media (max-width: 425px) {
  .find_contact{
    .find-form{
      width: 100%;
    }
  }
}