.getting_headhunted{
  background-color: #b0cbcc;
  min-height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  padding: 50px 0;
  .container{
   z-index: 9999;
    .section_header{
      .logo-descr{
        color: #fff;
      }
    }

    .headhunted-text{
      width: 50%;
      padding: 10px 0;
      h2{
        color: #ffffff;
        width: 245px;
        font-size: 51px;
        text-transform: uppercase;
        letter-spacing: 18px;
        font-weight: 300;
        line-height: 66px;
        margin: 0;
      }
      p{
        color: #fff;
        padding: 20px 0;
        font-weight: 100;
        font-size: 15px;
      }
    }

  }
  .img-bg{
    img{
      position: absolute;
      right: 75px;
      bottom: 0;
      width: 42%;
      z-index: 0;
    }
  }
}

@media (max-width: 991px) {
  .getting_headhunted{
    .container{
      z-index: 9999;
      .section_header{
        .logo-descr{
          color: #fff;
        }
      }

      .headhunted-text{
        width: 100%;
        h2{
          color: #ffffff;
          font-size: 52px;
          text-transform: uppercase;
          letter-spacing: 20px;
          font-weight: 500;
          line-height: 73px;
          margin: 0;
        }
        p{
          color: #fff;
          padding: 20px 0;
          font-weight: 100;
          font-size: 15px;
          width: 50%;
        }
      }

    }
    .img-bg{
      img{
        position: absolute;
        right: -105px;
        bottom: 0;
        width: 55%;
        z-index: 0;
        opacity: 0.1;
      }
    }
  }
}

@media (max-width: 768px) {
  .getting_headhunted{
    .container{
      z-index: 9999;
      .section_header{
        .logo-descr{
          color: #fff;
        }
      }

      .headhunted-text{
        width: 100%;
        h2{
          width: 100%;
          color: #ffffff;
          font-size: 42px;
          text-transform: uppercase;
          letter-spacing: 16px;
          font-weight: 500;
          line-height: 65px;
          margin: 0;
        }
        p{
          color: #fff;
          padding: 20px 0;
          font-weight: 400;
          font-size: 15px;
          width: 80%;
        }
      }

    }
    .img-bg{
      img{
        position: absolute;
        right: -105px;
        bottom: 0;
        width: 80%;
        z-index: 0;
        opacity: 0.1;
      }
    }
  }
}

@media (max-width: 460px) {
  .getting_headhunted{
    .container{
      z-index: 9999;
      .section_header{
        .logo-descr{
          color: #fff;
        }
      }

      .headhunted-text{
        width: 100%;
        h2{
          width: 100%;
          color: #ffffff;
          font-size: 30px;
          text-transform: uppercase;
          letter-spacing: 11px;
          font-weight: 500;
          line-height: 55px;
          margin: 0;
        }
        p{
          color: #fff;
          padding: 20px 0;
          font-weight: 400;
          font-size: 15px;
          width: 80%;
        }
      }

    }
    .img-bg{
      img{
        position: absolute;
        right: 5px;
        left: 5px;
        bottom: 0;
        width: 90%;
        z-index: 0;
        opacity: 0.1;
      }
    }
  }
}

@media (max-width: 360px) {
  .getting_headhunted{
    .container{
      .headhunted-text{
        width: 100%;
        h2{
          width: 100%;
          color: #ffffff;
          font-size: 26px;
          text-transform: uppercase;
          letter-spacing: 7px;
          font-weight: 500;
          line-height: 43px;
          margin: 0;
        }
        p{
          color: #fff;
          padding: 20px 0;
          font-weight: 400;
          font-size: 15px;
          width: 80%;
        }
      }

    }
    .img-bg{
      img{
        position: absolute;
        right: 5px;
        left: 5px;
        bottom: 0;
        width: 90%;
        z-index: 0;
        opacity: 0.1;
      }
    }
  }
}