.header{
  background-color: #252a38;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 35px;
  .logo{
    padding-top: 30px;
  }
  .header-main{
    padding-top: 45px;
    .left-side{
      display: flex;
      flex-direction: column;
      h1{
        color: #ffffff;
        width: 400px;
        font-size: 51px;
        text-transform: uppercase;
        letter-spacing: 19px;
        font-weight: 300;
        line-height: 67px;
        margin: 0;
      }
      span{
        color: #9097aa;
        padding: 20px 0;
        font-size: 17px;
      }
      .pre-registr{
        //padding-bottom: 100px;
        .input{
          width: 300px;
          position: relative;
          input{
            width: 100%;
            height: 60px;
            border-radius: 35px;
            padding-left: 25px;
            background: none;
            border: 2px solid #fff;
            color: #fff;
            &:focus{
              box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;
              -webkit-box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;
              -o-box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;
              -moz-box-shadow: inset #fff 0 0 1px 1px, #fff 0 0 10px 0.5px;

              -webkit-transition: all 0.2s;
              -o-transition: all 0.2s;
              -moz-transition: all 0.2s;
               transition: all 0.2s;
            }
          }
          input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
          }
          input::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
          }
          input::-ms-input-placeholder { /* IE 10+ */
            color: #fff;
          }
          span{
            position: absolute;
            padding: 0;
            right: 25px;
            top: 19px;
            color: #fff;
            svg{
              font-size: 23px;
            }
          }
        }
        .btn-submit{
          margin-top: 20px;
          background-color: #ffce00;
          border: 2px solid #ffce00;

          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;

          font-size: 14px;
          font-weight: 600;
          letter-spacing: 3px;
          span{
            padding: 0;
            color: #000;
            margin-right: 13px;
            padding-right: 12px;
            border-right: 1px solid #e2b700;
            font-size: 14px;
          }
          &:hover{
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            background:none;
            color: #ffce00;
            span{
              color: #ffce00;
            }
          }
        }
      }

    }
    .right-side{
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      .counter{
        margin-right: 100px;
        img{
          width: 200px;
        }
      }
      .img-bg{
        img{
          position: absolute;
          bottom: -18px;
          width: 130%;
          right: -100px;
        }
      }
    }
  }
  .img-bg{
    img{
      position: absolute;
      right: 50px;
      bottom: 0;
      width: 55%;
    }
  }
}


@media (max-width: 991px) {
  .header{
    .container{
      z-index: 99999;
      .header-main {
        .left-side {
          h1 {
            width: 100%;
          }
          .pre-registr{
            display: flex;
            .btn-submit{
              margin-top: 0;
              margin-left: 20px;
            }
          }
        }
        .right-side{
          display: none;
        }
      }
    }
    .img-bg{
      img{
        position: absolute;
        right: 50px;
        bottom: 0;
        width: 75%;
        z-index: 1;
        opacity: 0.4;
      }
    }
  }
}

@media (max-width: 768px) {
  .header{
    .container{
      .header-main {
        .left-side {
          .pre-registr{
            display: flex;
            flex-direction: column;
            .btn-submit{
              margin-top: 20px;
              margin-left: 0;
            }
          }
        }
        .right-side{
          display: none;
        }
      }
    }
    .img-bg{
      img{
        position: absolute;
        right: 50px;
        bottom: 0;
        width: 75%;
        z-index: 1;
        opacity: 0.5;
      }
    }
  }
}


@media (max-width: 425px) {
  .header{
    .container{
      z-index: 99999;
      .header-main {

        .left-side {
          h1 {
            font-size: 44px;
            text-transform: uppercase;
            letter-spacing: 16px;
            font-weight: 200;
            line-height: 60px;
            margin: 0;
          }
          .input{
            width: 250px;
            input{
              width: 250px;
            }
            span{

            }
          }
        }
        .right-side{
          display: none;
        }
      }
    }
    .img-bg{
      img{
        position: absolute;
        right: 5%;
        bottom: 0;
        width: 90%;
        z-index: 1;
        left: 5%;
      }
    }
  }
}

