.how_it_works{
  padding: 50px;
  background-color: #51b9bc;
  .steps{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    div{
      min-width: 30px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      margin: 0px 80px;
      position: relative;
    }
    .step-2{
      &:after {
        display: inline-block;
        position: absolute;
        content: "";
        border-top: 2px solid #fff;
        width: 159px;
        margin: 0 1rem;
        transform: translateY(-1rem);
        top: 29px;
        left: -175px;
      }
    }
    .step-3{
      &:after {
        display: inline-block;
        position: absolute;
        content: "";
        border-top: 2px solid #fff;
        width: 159px;
        margin: 0 1rem;
        transform: translateY(-1rem);
        top: 29px;
        left: -175px;
      }
    }
    .step-4{
      &:after {
        display: inline-block;
        position: absolute;
        content: "";
        border-top: 2px solid #fff;
        width: 159px;
        margin: 0 1rem;
        transform: translateY(-1rem);
        top: 29px;
        left: -175px;
      }
    }
    .step-active{
      background-color: #ffce00;
      &:after{
        border-top: 2px solid #ffce00;
      }
    }
  }
  .owl-howWorks{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    .owl-item{
      .howWorks-item{
        display: flex;
        align-items: center;
        .text{
          h2{
            font-size: 53px;
            color: #fff;
            text-align: right;
            font-weight: 300;
            letter-spacing: 19px;
            line-height: 74px;
            text-transform: uppercase;
            margin-right: -20px;
          }
          h4{
            font-size: 20px;
            text-align: right;
            color: #fff;
            padding: 10px 0;
            letter-spacing: 1px;
          }
          p{
            font-size: 15px;
            color: #fff;
            text-align: right;
            margin: 0;
          }
        }
      }
    }
  }
  .section_header{
    .logo-descr{
      color: #fff;
    }
  }
}

#owl-howWorks{
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #ffce00;
  }

  .owl-theme .owl-dots .owl-dot.active span{
    background-color: #000;
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 991px) {
  .how_it_works{
    padding: 50px;
    background-color: #51b9bc;
    .steps{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      div{
        margin: 0 45px;
      }
      .step-2{
        &:after {
          width: 87px;
          left: -104px;
        }
      }
      .step-3{
        &:after {
          width: 87px;
          left: -104px;
        }
      }
      .step-4{
        &:after {
          width: 87px;
          left: -104px;
        }
      }
      .step-active{
        background-color: #ffce00;
        &:after{
          border-top: 2px solid #ffce00;
        }
      }
    }
    .owl-howWorks{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50px;
      .owl-item{
        .howWorks-item{
          .text{
            h2{
              font-size: 29px;
              letter-spacing: 5px;
              line-height: 31px;
              margin-top: 15px;
              text-align: left;
              margin-right: 0;
            }
            h4{
              font-size: 20px;
              text-align: left;
            }
            p{
              font-size: 15px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 460px) {
  .how_it_works{
    padding: 50px;
    background-color: #51b9bc;
    .steps{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      div{
        margin: 0 20px;
      }
      .step-2{
        &:after {
          width: 38px;
          left: -55px;
        }
      }
      .step-3{
        &:after {
          width: 38px;
          left: -55px;
        }
      }
      .step-4{
        &:after {
          width: 38px;
          left: -55px;
        }
      }
      .step-active{
        background-color: #ffce00;
        &:after{
          border-top: 2px solid #ffce00;
        }
      }
    }
    .owl-howWorks{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50px;
      .owl-item{
        .howWorks-item{
          .text{
            h2{
              font-size: 33px;
            }
            h4{
              font-size: 20px;
            }
            p{
              font-size: 15px;

            }
          }
        }
      }
    }
  }
}