.our-partners{
  padding-bottom: 50px;
  .owl-partners{
    .owl-nav{
      .owl-dots{
        .owl-dot{
          span{
            background-color: #000!important;
          }
        }
      }
    }
    .partner-item{
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .logo{
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #d3d3d3;
        border-radius: 50%;
        img{
          width: 30px;
        }
      }
      .partner-name{
        h3{
          font-size: 18px;
          font-weight: 600;
          color: #000;
          margin: 0;
          padding: 20px 0;
        }
      }
      .partner-description{
        p{
          text-align: center;
          color: #737373;
          font-size: 14px;
        }
      }
    }
  }
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background-color: #d6d6d6;
}

.owl-theme .owl-dots .owl-dot.active span{
  background-color: #000;
  width: 11px;
  height: 11px;
}