.rates{
  padding: 50px 0;
  .section_header{
    .logo-descr{
     color: #000;
    }
  }
  .rates_list{
    .list-item{
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .list-item_number_name{
        display: flex;
        width: 60%;
        align-items: center;
        .number{
          min-width: 38px;
          min-height: 38px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffce00;
          color: #000;
          font-weight: 500;
          margin-right: 20px;
        }
        .name{
          h2{
            font-size: 20px;
          }
          p{
            padding: 0;
            margin: 0;
            font-size: 14px;
            color: #9d9d9d;
          }
        }
      }
      .list-item_price{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18%;
        padding: 14px 0;
        border-right: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        margin: 0 30px;
        color: #51b9bc;
        font-weight: 700;
        font-size: 35px;
        div{
          position: relative;
          span{
            color: #000;
            font-size: 20px;
          }
        }
      }
      .dark-price{
        color: #000;
        div{
          span{
            color: #51b9bc;
          }
        }
      }
      .list-item_btn{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-submit{
          border: 2px solid #cfcfcf;
          color: #2e2e2e;
          text-transform: uppercase;
          width: 180px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;

          font-size: 14px;
          font-weight: 600;
          letter-spacing: 3px;
          &:hover{
            background-color: #cfcfcf;
          }
        }
      }
    }

    .dark{
      background-color: #f8f8f8;
    }
  }
}

@media (max-width: 768px) {
  .rates{
    .rates_list{
      .list-item{
        padding: 15px;
        flex-direction: column;
        .list-item_number_name{
          width: 100%;
          .name{
            h2{
              font-size: 20px;
            }
            p{
              padding: 0;
              margin: 0;
              font-size: 14px;
              color: #9d9d9d;
            }
          }
        }
        .list-item_price{
          width: 100%;
          padding: 0;
          border: none;
          div{
            position: relative;
            span{
              color: #000;
              font-size: 20px;
            }
          }
        }
        .dark-price{
          div{
            span{
              color: #51b9bc;
            }
          }
        }
        .list-item_btn{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .btn-submit{
            border: 2px solid #cfcfcf;
            color: #2e2e2e;
            text-transform: uppercase;
            font-weight: 500;
            width: 180px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
          }
        }
      }

      .dark{
        background-color: #f8f8f8;
      }
    }
  }
}