.recomended_jobs{
  padding: 50px 0;
  .jobs-items{
    .recomended-job{
      margin-bottom: 12px;
      padding: 40px;
      background-color: #ffce00;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .title{
        h5{
          color: #252a38;
          font-size: 17px;
          font-weight: 500;
          text-align: center;
        }
      }
      .price{
        font-weight: 700;
        font-size: 35px;
        padding: 20px 0;
        color: #252a38;
        span{
          font-size: 20px;
          color: #252a38;
        }
      }
      .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        div{
          display: flex;
          align-items: center;
          justify-content: center;
          span{
            display: flex;
            font-size: 14px;
            font-weight: 500;
            color: #252a38;
            svg{
              color: #252a38;
              width: 20px;
              height: 20px;
              margin-right: 7px;
            }
          }
        }
      }
      .job-description{
        p{
          width: 100%;
          text-align: center;
          padding: 30px 0;
          margin-bottom: 30px;
          line-height: 20px;
          font-size: 15px;
          border-bottom: 1px solid #e9be0e;
        }
      }
      .job-btn{

        display: flex;
        align-items: center;
        justify-content: center;
        a{
          height: 45px;
          width: 180px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #000000;
          background: none;
          color: #2e2e2e;
          text-transform: uppercase;
          border-radius: 35px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 3px;

          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;

          &:hover{
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
            background: #2e2e2e;
            border: 2px solid #2e2e2e;
            color: #fff;
          }

        }
      }
    }
  }
}

@media (max-width: 1200px){
  .recomended_jobs{
    .jobs-items{
      .recomended-job{
        .info{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          div{
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media (max-width: 991px){
  .recomended_jobs{
    padding: 50px 0;
    .jobs-items{
      .recomended-job{
       margin-bottom: 15px;
        .info{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          div{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 425px){
  .recomended_jobs{
    .jobs-items{
      .recomended-job{
        .info{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          div{
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}